<div class="container">
  <h1>Personal finance</h1>
  <h2>Your accounts</h2>

  <div class="row" *ngIf="_account.length == 0">
    <div class="alert alert-info">
      <strong>No accounts yet?</strong> Please add one...</div>
  </div>
  <div class="row">
    <div class="acc col-md-12" *ngFor="let acc of _account, let i = index" [ngClass]="{selected:_selected[i]}">
      <h2>{{acc.id}}) {{acc.title}}</h2>
      <p>{{acc.description}}</p>
      <p>Balance:
        <strong class="lead">{{acc.balance}}</strong>
      </p>

      <div class="row col-md-3">
        <button class="btn btn-danger" (click)="removeAcc(i)">Delete </button>
        <button class="btn btn-primary" (click)="select(i)">{{_selected[i]?'Deselect':'Select'}}</button>
      </div>
    </div>
  </div>

  <!-- #title is an example of local reference whose value will be passed to createAcc method in TS-->
  <div>
    <div>
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" value="" #title>
    </div>

    <div>
      <label for="desc">Description:</label>
      <input id="desc" type="text" name="desc" value="" #desc>
    </div>

    <div>
      <label for="bal">Balance:</label>
      <input id="bal" type="text" name="bal" value="" #balance>
    </div>

    <div>
      <button (click)="createAcc(title.value,desc.value,balance.value)">Create</button>
    </div>

  </div>
</div>